/*Top bar y bottom bar*/

.topBar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 3;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0,0.1) ;

}

.bottomNav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: auto 0 0 0;
    background-color: white;
    border: 1px solid rgb(0, 0, 0,0.1);
}

/*General*/

body {
    font-family: Inter;
    font-size: 16px;
    color: #1A1A1A;
    margin: 0;
    background-color: #FEFAF6;
}

h1,h2,h3,h4 {
    font-family: Playfair Display;
    margin: 0;
}

h2,h3 {
    font-size: 16px;
    font-weight: normal;
}

p {
    margin: 0;
}

main {
    margin-top: 76px; /*Espacio que ocupa el topbar*/
    margin-bottom: 64px; 
}

/*Category Tag*/

.category-tag {
    position: relative;
}
.category-tag::after {
    content: attr(data-category);
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    border-radius: 100px;
    font-family: Inter;
    font-size: 14px;
    color: white;
    background-color: #D4A574;
}

/*Icons*/

.icon24px {
    width: 24px;
    height: 24px;
}

/*Buttons*/

.button {
    padding: 8px 16px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0,0.1);
    border-radius: 100px;
}

.button:active, .button:hover {
    background-color: #2D5A27;
    border-color: #2D5A27;
    color: white;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0,0.08) ;
}

/*Header*/

header {
    background-image: url(../Img/img_header_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__text {
    padding: 24px;
    color: white;
}

.header__tittle {
    font-size: 40px;
    font-weight: normal;
}

.header__tittle::first-letter{
    font-size: 64px;
}

/*Section -- Categories*/

.section__categories {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories__header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.categories__slider{
    display: flex;
    gap: 16px;
}

/*Section -- Product*/

.section__products {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.10);
}

.product__img {
    width: 100%;
    height: 130px;
}

.product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__text {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__description {
font-size: 12px;
color: #666;
}

.product__price {
    color: #2D5A27;
}


