/*General*/

body {
  padding-top: 72px;
  font-family: Inter;
  font-size: 16px;
  color: #1a1a1a;
  margin: 0;
  background-color: #fefaf6;
}

h1,
h2,
h3,
h4 {
  font-family: Playfair Display;
  margin: 0;
}

h2,
h3 {
  font-size: 16px;
  font-weight: normal;
}

p {
  margin: 0;
  color: #666666;
}

main {
  padding: 32px 24px 128px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/*Top bar y bottom bar*/

.topBar {
  height: 72px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 3;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
}

.bottomNav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: auto 0 0 0;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

/*Category Tag*/

.category-tag {
  position: relative;
}
.category-tag::after {
  content: attr(data-category);
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  border-radius: 100px;
  font-family: Inter;
  font-size: 14px;
  color: white;
  background-color: #d4a574;
}

/*Icons and Logos*/

.icon24px {
  width: 24px;
  height: 24px;
}

.icon20px {
  width: 20px;
  height: 20px;
}

.icon48px {
  width: 48px;
  height: 48px;
}

.logo40px {
  width: 40px;
  height: 40px;
}

/*Buttons*/

.button {
  padding: 8px 16px;
  background-color: white;
  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 100px;
}

.button:hover {
  background-color: #2d5a27;
  border-color: #2d5a27;
  color: white;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.08);
}

.callToAction {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #2d5a27;
  border: 2px solid #2d5a27;
  color: white;
  border-radius: 100px;
  box-shadow: 0 4px 12px 0 rgb(0, 0, 0, 0.1);
}

/*HOME*/

/*Header*/

.home__header {
  background-image: url(../Img/img_header_mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__text {
  padding: 24px;
}

.header__tittle {
  font-size: 40px;
  font-weight: normal;
  color: white;
}

.header__subtittle {
  color: white;
}

.header__tittle::first-letter {
  font-size: 64px;
}

/*Section -- Categories*/

.section__categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.categories__header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.categories__slider {
  display: flex;
  gap: 16px;
}

/*Section -- Product*/

.section__products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  position:relative
}

.product::after{
  padding: 4px 8px;
}

[data-category=""]:after{
  visibility: hidden;
}

[data-category="VEGANO"]:after{
  background-color: #28A745;
}


.product__img {
  width: 100%;
  height: 130px;
}

.product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__description {
  font-size: 12px;
}

.product__price {
  color: #2d5a27;
}

/*PRODUCT DETAIL*/

/*Img*/

.productDetail__img {
  width: 100%;
  height: 280px;
}

.productDetail__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Main information*/

.productDetail__content {
  margin-top: -32px;
  position: relative;
  z-index: 2;
  border-radius: 16px;
  background-color: #fefaf6;
}

.productDetail__mainInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productDetail__content h3 {
  font-size: 32px;
}

.productDetail__reviews {
  display: flex;
  gap: 8px;
  align-items: center;
}

.productDetail__price {
  font-size: 32px;
  color: #2d5a27;
}

/*Section divider*/

.section-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

.section-divider span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 4px;
  border-radius: 100px;
  background-color: #2d5a27;
}

/*Characteristics*/

.productDetail__characteristics {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productDetail__content h4 {
  font-weight: normal;
}

.productDetail__characteristics ul {
  margin: 0;
  padding: 0 0 0 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productDetail__characteristics li {
  display: flex;
  align-items: center;
  gap: 12px;
}

/*Add to cart*/

.productDetail__addToCar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productDetail__quantity {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

/*CONTACT*/

/*Header*/

.contact__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__header h3 {
  font-size: 32px;
}

/*Form*/

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__formField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__formField input,
.contact__formField textarea {
  padding: 12px 16px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact__formField textarea {
  height: 172px;
}

input::placeholder,
textarea::placeholder {
  color: rgba(26, 26, 26, 0.5);
}

.required {
  color: rgba(220, 53, 69, 1);
}

/*Next Steps*/

.contact__nextSteps {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}

.contact__nextSteps h4 {
  font-weight: normal;
}

.contact__nextSteps ol {
  counter-reset: number;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.contact__nextSteps li {
  display: flex;
  gap: 8px;
  padding: 0;
  list-style: none;
  counter-increment: number;
}

.contact__nextSteps li::before {
  content: counter(number);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  color: white;
  font-size: 14px;
  background-color: #2d5a27;
  border-radius: 100%;
}
